<header>
    <h2>Final Pair Event Organizer</h2>
        <nav>
            <a href="/">Home</a>
            <a href="/event">Our Events</a>
            <a href="/staff">Our Team</a>
            <a href="/eventstaff">Management</a><br>
            <a href="/login">Login</a><br>
        </nav>
</header>