<html>
    <body>
        <%- include('partials/header.ejs') %>
        <h2>Update Staff</h2>
        <form action="/staff/edit/<%= staff.id %>" method="POST">
            <label for="name">Name:</label><br>
            <input type="text" id="name" name="name" value="<%= staff.name %>"><br>
            <label for="email">Email:</label><br>
            <input type="text" id="email" name="email" value="<%= staff.email %>"><br>
            <label for="gender">Gender:</label><br>
                <div>
                    <input type="radio" id="male" name="gender" value="male" checked>
                    <label for="male">Male</label>
                    <input type="radio" id="female" name="gender" value="female">
                    <label for="female">Female</label>
                </div><br><br>
            <input type="submit" value="Update">
        </form> 
    </body>
</html>